/* ====== SLIDER ====== */
#header-carousel .carousel-item {
    height: 56vh;
    min-height: 350px;
}

#header-carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#header-carousel .carousel-caption {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-content {
    text-align: center;
    max-width: 700px;
}

.carousel-content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,.5);
    margin-bottom: 20px;
}

/* ====== OFFER BÊN PHẢI ====== */
.offer-wrapper {
    display: flex;
    flex-direction: column;
    height: 56vh;
    min-height: 350px;
}

.product-offer {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.product-offer:not(:last-child) {
    margin-bottom: 30px;
}

.product-offer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offer-text {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.offer-text h6 {
    text-transform: uppercase;
    font-size: 14px;
}

.offer-text h3 {
    margin: 10px 0;
    font-weight: bold;
}

.offer-text h3,
.offer-text h6 {
    color: #fff;
}
