.product-img-fixed {
    height: 260px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.product-img-fixed img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
